.main-page {
    margin-top:100px;
}

.country-detail h1{
    margin-top:100px;
    text-align:center;
}
.about{
    margin-top:20px;
    text-align:center;
}

.introduction-text{
    margin-top:20px;
    
}
.about-image{
    margin-top:20px;
}

.where{
    margin-top:20px;
    text-align:center;
}

.when{
    margin-top:20px;
    text-align:center;
}

.cost{
    margin-top:20px;
    text-align:center;
}

.country-form{
    margin-top:100px;
}